{# Copyright 2016 C. Thubert #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ 'credits_rights'|trans }}</h1>

<div class="page-header">
    <h2>{{ 'title_credits'|trans }}</h2>
    <p>{{ 'text_team'|trans }}</p>
    <p>{{ 'text_licence'|trans }}</p>
    <p>{{ 'text_technologies'|trans }}</p>
</div>

<div class="page-header">
    <h2>{{ 'title_rights'|trans }}</h2>
    <h3>{{ 'subtitle_rights'|trans }}</h3>
    <p>{{ 'text_rights'|trans }}</p>
</div>
{% endblock %}
