{# Copyright 2016 C. Thubert #}
{% extends 'base.html.twig' %}
{# ***************************************************************************** Bloc body
 #}
{% block body %}
<a href="{{ url('admin_utilisateur_index') }}" class="btn btn-default" >&larr; Retour</a>

<h2>Modifier le mot de passe</h2>
<p>
    Pour : <span style="font-weight:bold;" >{{ utilisateur.nom ~ " " ~ utilisateur.prenom }}</span>
</p>
{{ form_start(form) }}
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Première saisie du mot de passe
     #}
    <div class="col-md-1" >
        {{ form_label(form.plainPassword.first) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.plainPassword.first, { 'attr' : {'class':'form-control'} }) }}
    </div>
    {# ------------------------------------------------------------------------- Répétition du mot de passe
     #}
    <div class="col-md-1" >
        {{ form_label(form.plainPassword.second) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.plainPassword.second, { 'attr' : {'class':'form-control'} }) }}
    </div>
</div>

<div class="row" style="margin-top:10px;" >
    <div class="col-md-1" >
        {{ form_row(form.reset, { 'attr' : {'class':'btn btn-default'}, 'label' : 'Annuler' }) }}
    </div>
    <div class="col-md-1" >
        {{ form_row(form.save, { 'attr' : {'class':'btn btn-default'}, 'label' : 'Modifier' }) }}
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form, {'render_rest': false }) }}
{% endblock %}
