{# Copyright 2016 C. Thubert #}
{% extends 'base.html.twig' %}
{# ***************************************************************************** Bloc body
 #}
{% block body %}
<a href="{{ url('admin_domaine_index') }}" class="btn btn-default" >&larr; Retour</a>

<h2>Ajouter domaine</h2>
{{ form_start(form) }}
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Nom
     #}
    <div class="col-md-1" >
        {{ form_label(form.nom) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.nom, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>

<div class="row" style="margin-top:10px;" >
    <div class="col-md-1" >
        {{ form_row(form.reset, { 'attr' : {'class':'btn btn-default'}, 'label' : 'Annuler' }) }}
    </div>
    <div class="col-md-1" >
        {{ form_row(form.save, { 'attr' : {'class':'btn btn-default'}, 'label' : 'Ajouter' }) }}
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form, {'render_rest': false }) }}
{% endblock %}
