{# Copyright 2016 C. Thubert #}
{% extends 'base.html.twig' %}
{# ***************************************************************************** Bloc body
 #}
{% block stylesheets %}
<style>
    .custom-combobox {
        position: relative;
        display: inline-block;
    }
    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }
    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
    }
</style>
{% endblock %}
{# ***************************************************************************** Bloc body
 #}
{% block body %}
<a href="{{ url('eqt_index') }}" class="btn btn-default" >&larr; Retour</a>

<h2>Créer un équipement</h2>
{{ form_start(form) }}
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Nom
     #}
    <div class="col-md-1" >
        {{ form_label(form.nom) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.nom, { 'attr' : {'class':'form-control'} }) }} 
    </div>
    {# ------------------------------------------------------------------------- Catégorie
     #}
    <div class="col-md-1" >
        {{ form_label(form.categorie) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.categorie, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Marque
     #}
    <div class="col-md-1" >
        {{ form_label(form.marque) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.marque, { 'attr' : {'class':'form-control'} }) }} 
    </div>
    {# ------------------------------------------------------------------------- Responsable
     #}
    <div class="col-md-1" >
        {{ form_label(form.responsable) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.responsable, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Modèle
     #}
    <div class="col-md-1" >
        {{ form_label(form.modele) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.modele, { 'attr' : {'class':'form-control'} }) }} 
    </div>
    {# ------------------------------------------------------------------------- Equipe
     #}
    <div class="col-md-1" >
        {{ form_label(form.equipe) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.equipe, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Numéro de série
     #}
    <div class="col-md-1" >
        {{ form_label(form.n_serie) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.n_serie, { 'attr' : {'class':'form-control'} }) }} 
    </div>
    {# ------------------------------------------------------------------------- Emplacement
     #}
    <div class="col-md-1" >
        {{ form_label(form.emplacement) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.emplacement, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Numéro d'immobilisation
     #}
    <div class="col-md-1" >
        {{ form_label(form.n_immobilisation) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.n_immobilisation, { 'attr' : {'class':'form-control'} }) }} 
    </div>
    {# ------------------------------------------------------------------------- Fournisseur
     #}
    <div class="col-md-1" >
        {{ form_label(form.fournisseur) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.fournisseur, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Caractéristiques
     #}
    <div class="col-md-1" >
        {{ form_label(form.caracteristiques) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.caracteristiques, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Acheté le
     #}
    <div class="col-md-1" >
        {{ form_label(form.achete_le) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.achete_le) }} 
    </div>
    {# ------------------------------------------------------------------------- Fin garantie
     #}
    <div class="col-md-1" >
        {{ form_label(form.fingarantie_le) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.fingarantie_le) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Mise en service le
     #}
    <div class="col-md-1" >
        {{ form_label(form.miseenservice_le) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.miseenservice_le) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Fichier
     #}
    <div class="col-md-1" >
        {{ form_label(form.fichier) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.fichier) }} 
    </div>
    {# ------------------------------------------------------------------------- Photo
     #}
    <div class="col-md-1" >
        {{ form_label(form.photo) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.photo) }} 
    </div>
</div>

{% include 'form/buttons-line.html.twig' %}
{{ form_rest(form) }}
{{ form_end(form, {'render_rest': false }) }}
{% endblock %}
{# ***************************************************************************** Bloc JavaScript
 #}
{% block javascripts %}
<script type="text/javascript" >
$(document).ready( function () {
{#    $("#equipement_marque").autocomplete() ;
    console.log($("#equipement_marque").val()) ;#}

    $.widget( "custom.combobox", {
      _create: function() {
       this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },

      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";
 
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            classes: {
              "ui-tooltip": "ui-state-highlight"
            }
          });
 
        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },
 
          autocompletechange: "_removeIfInvalid"
        });
      },

      _createShowAllButton: function() {
        var input = this.input,
          wasOpen = false;
 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          .attr( "title", "Afficher toutes les valeurs" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right" )
          .on( "mousedown", function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .on( "click", function() {
            input.trigger( "focus" );
 
            // Close if already visible
            if ( wasOpen ) {
              return;
            }
 
            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },

      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },

      _removeIfInvalid: function( event, ui ) {
 
        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }
 
        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });
 
        // Found a match, nothing to do
        if ( valid ) {
          return;
        }
 
        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", "Aucune valeur trouvée pour : " + value )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.autocomplete( "instance" ).term = "";
      },

      _destroy: function() {
    $( this.element.attr('id') ).combobox();
        this.wrapper.remove();
        this.element.show();
      }
    });
// *****************************************************************************
    $( "#equipement_marque" ).combobox();
    $( "#equipement_fournisseur" ).combobox();
} );
</script>
{% endblock %}