{# Copyright 2016 C. Thubert #}
{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ url('eqt_index') }}" class="btn btn-default" >&larr; Retour</a>

<h2>Créer un équipement</h2>
{{ form_start(form) }}
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Nom
     #}
    <div class="col-md-1" >
        {{ form_label(form.nom) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.nom, { 'attr' : {'class':'form-control'} }) }} 
    </div>
    {# ------------------------------------------------------------------------- Catégorie
     #}
    <div class="col-md-1" >
        {{ form_label(form.categorie) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.categorie, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Marque
     #}
    <div class="col-md-1" >
        {{ form_label(form.marque) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.marque, { 'attr' : {'class':'form-control'} }) }} 
    </div>
    {# ------------------------------------------------------------------------- Responsable
     #}
    <div class="col-md-1" >
        {{ form_label(form.responsable) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.responsable, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Modèle
     #}
    <div class="col-md-1" >
        {{ form_label(form.modele) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.modele, { 'attr' : {'class':'form-control'} }) }} 
    </div>
    {# ------------------------------------------------------------------------- Equipe
     #}
    <div class="col-md-1" >
        {{ form_label(form.equipe) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.equipe, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Numéro de série
     #}
    <div class="col-md-1" >
        {{ form_label(form.n_serie) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.n_serie, { 'attr' : {'class':'form-control'} }) }} 
    </div>
    {# ------------------------------------------------------------------------- Emplacement
     #}
    <div class="col-md-1" >
        {{ form_label(form.emplacement) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.emplacement, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Numéro d'immobilisation
     #}
    <div class="col-md-1" >
        {{ form_label(form.n_immobilisation) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.n_immobilisation, { 'attr' : {'class':'form-control'} }) }} 
    </div>
    {# ------------------------------------------------------------------------- Fournisseur
     #}
    <div class="col-md-1" >
        {{ form_label(form.fournisseur) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.fournisseur, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Caractéristiques
     #}
    <div class="col-md-1" >
        {{ form_label(form.caracteristiques) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.caracteristiques, { 'attr' : {'class':'form-control'} }) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Acheté le
     #}
    <div class="col-md-1" >
        {{ form_label(form.achete_le) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.achete_le) }} 
    </div>
    {# ------------------------------------------------------------------------- Fin garantie
     #}
    <div class="col-md-1" >
        {{ form_label(form.fingarantie_le) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.fingarantie_le) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Mise en service le
     #}
    <div class="col-md-1" >
        {{ form_label(form.miseenservice_le) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.miseenservice_le) }} 
    </div>
</div>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Fichier
     #}
    <div class="col-md-1" >
        {{ form_label(form.fichier) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.fichier) }} 
    </div>
    {# ------------------------------------------------------------------------- Photo
     #}
    <div class="col-md-1" >
        {{ form_label(form.photo) }}
    </div>
    <div class="col-md-5" >
        {{ form_widget(form.photo) }} 
    </div>
</div>

<div class="row" style="margin-top:10px;" >
    <div class="col-md-1" >
        {{ form_row(form.reset, { 'attr' : {'class':'btn btn-default'}, 'label' : 'Annuler' }) }}
    </div>
    <div class="col-md-1" >
        {{ form_row(form.save, { 'attr' : {'class':'btn btn-default'}, 'label' : 'Créer' }) }}
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form, {'render_rest': false }) }}
{% endblock %}
