{# Copyright 2016 C. Thubert #}
{% extends 'base.html.twig' %}
{# ***************************************************************************** Bloc body
 #}
{% block body %}
{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ANIM_QUALITE") or 
        is_granted("ROLE_ANIM_PREVENTION") or is_granted("ROLE_ANIM_CHARTESANITAIRE") or 
        is_granted("ROLE_ANIM_SME") or is_granted("ROLE_RESPONSABLE") or is_granted("ROLE_UTILISATEUR") %}
<p>
    <a class="btn btn-success" href="{{ url('int_add') }}" >Créer intervention</a>
</p>
{% endif %}
{% if (interventions|length) > 0 %}
<table class="table table-striped display" id="table_int" >
    <thead>
        <tr>
            <th>Equipement</th>
            <th>Opération</th>
            <th>Opérateur</th>
            <th>A faire le</th>
            <th>Effectuée le</th>
            <th>Commentaire</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for int in interventions %}
        <tr>
            <td>{{ int.equipement.nom }}</td>
            <td>{{ int.operation }}</td>
            <td>{{ int.operateur.nom ~ " " ~ int.operateur.prenom }}</td>
            <td>{{ int.afairele|date('d/m/Y') }}</td>
            <td>{{ int.effectuele|date('d/m/Y') }}</td>
            <td>{{ int.commentaire }}</td>
            <td>
                {% if int.bfichier %}
                <a href="{{ url("eqt_dl_intervention", {"id": int.id}) }}" >
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true" ></span>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="alert alert-warning" >
    Pas d'enregistrement.
</p>
{% endif %}
{% endblock %}
{# ***************************************************************************** Bloc JavaScript
 #}
{% block javascripts %}
<script type="text/javascript" >
$(document).ready( function () {
    /*
     * Rendre le tableau dynamique (tri des colonnes, par exemple).
     */
    $('#table_int').DataTable({
        "columnDefs": [         /* La première et la dernière colonnes ne doivent pas être triées. */
            { "orderable": false, "targets": [6] }
        ],
        "order": [],            /* Par défaut, aucun tri. */
        "searching": false,     /* Désactiver la fonction de recherche. */
        "language": {
            "sProcessing":     "Traitement en cours...",
            "sSearch":         "Rechercher&nbsp;:",
            "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
            "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "sInfoPostFix":    "",
            "sLoadingRecords": "Chargement en cours...",
            "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
            "oPaginate": {
                "sFirst":      "Premier",
                "sPrevious":   "Pr&eacute;c&eacute;dent",
                "sNext":       "Suivant",
                "sLast":       "Dernier"
            },
            "oAria": {
                "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
            }
        }
    });
} );
</script>
{% endblock %}